.video-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;

}

.video-container video {
    width: 70%;
    height: 100%;
}